.head-booking {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: auto; /* ทำให้รูปภาพอยู่ตรงกลางแนวตั้ง */
    flex-direction: column;
    padding: 20px;
}
.head-booking .car-name {
    display: block;
    position: relative;
    font-size: 26px;
    padding: 20px;
    background-color: rgb(113, 149, 255);
    margin-bottom: 10px;
    border-radius: 20px;
}
.head-booking img {
    display: block;
    position: relative;
    max-width: 40%; /* จัดให้รูปภาพไม่เกินขนาดของ div */
    max-height: 100%; /* จัดให้รูปภาพไม่เกินขนาดของ div */
    border-radius: 20px;
}
.head-booking .btn-search {
    margin-top: 20px;
}
.carrent-popup {
    display: none;
    position: fixed;
    align-items: center;
    background-color: #ffffff;
    padding: 3rem;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center; /* จัดข้อความตรงกลาง */
    width: 40%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    left: 30%;
    top: 30%;
    z-index: 99999;
}
.carrent-popup .box {
    align-items: center;
    margin-bottom: 1rem; /* ระยะห่างของกล่องข้อความ */
}
.carrent-popup .box label {
    margin-right: 1rem; /* ระยะห่างของข้อความกับกล่องข้อความ */
}
.carrent-popup .box input[type="text"] {
    padding: 0.5rem; /* การเพิ่ม padding สำหรับ input */
    border: 1px solid #ccc; /* เส้นขอบ input */
    border-radius: 5px; /* การกำหนดขอบโค้ง */
    margin-top: 2px;
    margin-bottom: 15px;
}
.carrent-popup .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    background-color: #ffffff;
    border: #ffffff solid;
}
.carrent-popup .search-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.btn-back {
    margin-left: 30px;
    margin-top: 20px;
}
.booking-body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px; /* เพิ่ม padding เพื่อให้มีระยะห่างของเนื้อหากับขอบ */
    background-color: #ffffff;
    top: 30%;
    width: 40%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    left: 30%;
    border-radius: 25px;
    margin-bottom: 10%;
}
.booking-body .box {
    padding: 10px;
}
.booking-body .box label {
    margin-bottom: 1rem;
}

