body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    overflow: auto;
}

.head-check-availability {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.head-check-availability .title-check-availability {
    font-size: 36px;
    padding: 40px;
    background-color: #55a7ff;
    color: #000000;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 600px;
}

.head-check-availability .title-check-availability:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.package-info {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.package-info h3 {
    font-size: 28px;
    color: #28a745;
}

.package-info p {
    font-size: 18px;
    color: #6c757d;
}

.search_date {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

.search_date form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.search_date .form-group {
    margin: 10px;
}

.btn-primary, .btn-outline-success {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.show-availability {
    padding: 20px;
}

.view-car .col-md-3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    border-bottom: 1px solid #dee2e6;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-body h5 {
    font-size: 22px;
    font-weight: bold;
    color: #28a745;
}

.card-body p {
    font-size: 16px;
    color: #6c757d;
    flex-grow: 1;
}

.btn-outline-success {
    border-width: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.btn-outline-success {
    border-color: #28a745;
    color: #28a745;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}
