.top-button {
    display: flex;
    justify-content: space-between; /* จัดให้รายการอยู่ตรงกลางตามแนวนอนและปุ่มอยู่ด้านขวา */
    align-items: center; /* จัดให้อยู่ตรงกลางตามแนวตั้ง */
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom: 20px;
    margin: 15px;
    width: 1200px;
    padding: 20px;
    text-align: center;
    left: 7%;
}
.top-button .manage-driver {
    font-size: 30px;
}
.driver-container {
    margin-top: 150px;
    width: 80%; /* ปรับค่าตามต้องการ */
}

.add-driver {
    display: none;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center; /* จัดข้อความตรงกลาง */
    width: 40%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    left: 30%;
    top: 10%;
    z-index: 99999;
}
.add-driver .title-add-driver {
    font-size: 25px;
    margin-bottom: 10px;
}
.add-driver .box {
    align-items: center;
    margin-bottom: 1rem;
}
.add-driver .box label {
    margin-right: 1rem;
}
.add-driver .box input[type="text"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-top: 2px;
}
.add-driver .box textarea {
    padding: 0.5rem;
    border: 1px solid #ccc; /* เส้นขอบ input */
    border-radius: 5px; /* การกำหนดขอบโค้ง */
    width: 350px;
    margin-top: 2px;
    height: 150px;
}
.box .preview-img {
    justify-content: center;
    align-items: center;
}
  
.box .preview-img .image-preview {
    max-width: 100%; /* ความกว้างสูงสุด 100% ของพื้นที่ที่ใช้แสดงรูป */
    max-height: 80vh; /* ความสูงสูงสุดที่ใช้แสดงรูป (ปรับตามความต้องการ) */
}