@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");
body {
  font-family: "Kanit", sans-serif;
}
.banner-container {
  padding: 10px;
  align-items: center;
  text-align: center;
}
.banner-container .banner{
  width: 90%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
}
.title-container {
  align-items: center;
  padding: 10px;
}
.title-container .title {
  padding: 30px;
  font-size: 20px;
}
.welcome {
  font-size: 35px;
  color: rgb(75, 120, 246);
}

