@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");
body {
  font-family: "Kanit", sans-serif;
}
.banner-container {
  padding: 10px;
  align-items: center;
  text-align: center;
}
.banner-container .banner{
  width: 90%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
}
.title-container {
  align-items: center;
  padding: 10px;
}
.title-container .title {
  padding: 30px;
  font-size: 20px;
}
.welcome {
  font-size: 35px;
  color: rgb(75, 120, 246);
}
.custom-slide {
  width: 80%; /* ปรับขนาดความกว้างของรูปภาพ */
  height: 400px; /* รักษาสัดส่วนความสูงตามความกว้าง */
  border-radius: 30px; /* ทำให้ขอบรูปภาพมน */
  margin: auto; /* ทำให้รูปภาพอยู่ตรงกลาง */
  display: block; /* ทำให้ margin: auto ทำงาน */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0); /* เพิ่มเงาเพื่อให้รูปภาพโดดเด่น */
  padding: 10px;
  
}
.carousel-inner {
  align-items: center;
  height: 500px;
}
.carousel-inner .carousel-item img{
  width: 900px;
  height: 450px;
}
.carousel-indicators .active {
  background-color: rgb(98, 98, 99); /* เปลี่ยนสีของ active indicator */
  width: 15px; /* ปรับขนาด width ของ active indicator */
  height: 15px; /* ปรับขนาด height ของ active indicator */
}
.carousel-indicators button {
  background-color: rgb(75, 120, 246); /* เปลี่ยนสีของ indicators */
  border-radius: 50%; /* ทำให้ indicators เป็นวงกลม */
  width: 12px; /* ปรับขนาด width */
  height: 12px; /* ปรับขนาด height */
  border: none; /* เอาขอบออก */
  margin: 0 5px; /* เพิ่มช่องว่างระหว่าง indicators */
}
.footer-index-container {
  background-color: rgb(144, 192, 220);
  width: 100%;
  overflow: hidden; /* ป้องกันการเลื่อนของพื้นที่ที่อยู่นอกเหนือขอบเขต */
  position: relative;
}
.footer-index-container .marquee{
  color: rgb(255, 255, 255);
  width: 2000px;
  height: 200px;
  font-size: 50px;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* ปรับเพิ่ม */
  width: 100%; /* กำหนดความกว้างของข้อความเพื่อให้ข้อความทำให้ความกว้างเท่ากับขนาดของรูปภาพ */
  text-align: center; /* จัดให้ข้อความอยู่ตรงกลางแนวนอน */
  padding-top: 60px; /* สร้างช่องว่างด้านบนของข้อความ */
  padding-bottom: 60px;
}
.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 8s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
