.signin-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 30%;
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0, 0.1);
    width: 45%;
    border-radius: 20px;
}
.signin-container .signin-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
}
.signin-container .singin-body {
    padding: 15px;
}
.signup-in {
    margin-top: 10px;
    font-size: 15px;
}