.head-carrent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.head-carrent .title-carrent {
    font-size: 40px;
    padding: 30px;
    color: rgb(57, 57, 57);
    background-color: aliceblue;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, 0.2);
    /* แก้ไขให้หัวข้ออยู่กึ่งกลาง */
    margin: auto;
}
.head-carrent .btn-carrent {
    padding: 20px;
}
.btn-carrent .carrent {
    padding: 5px;
    background-color: white;
    width: 250px;
    border: 2px solid rgb(0, 195, 0);
    font-size: 20px;
    color: rgb(0, 195, 0);
    border-radius: 10px;
}
.btn-carrent .carrent:hover {
    background-color: rgb(0, 195, 0);
    color: white;
    transition: background-color 0.3s ease;
}
.btn-carrent .returncar {
    padding: 5px;
    background-color: white;
    width: 250px;
    border: 2px solid rgb(30, 109, 255);
    font-size: 20px;
    color: rgb(30, 109, 255);
    border-radius: 10px;
}
.btn-carrent .returncar:hover {
    background-color: rgb(30, 109, 255);
    color: white;
    transition: background-color 0.3s ease;
}
.head-carrent .add-carrent {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: flex-end;
}
.add-carrent .rent {
    padding: 5px;
    background-color: white;
    width: 220px;
    border: 2px solid rgb(255, 142, 5);
    font-size: 20px;
    color: rgb(255, 142, 5);
    border-radius: 10px;
    right: 10%;
}
.add-carrent .rent:hover {
    background-color: rgb(255, 142, 5);
    color: white;
    transition: background-color 0.3s ease;
}
.body-carrent {
    padding: 20px;
}
.body-carrent .title-body {
    font-size: 40px;
    margin-left: 30px;
}
.body-carrent .table-view-carrent  {
    padding: 30px;
}
.body-carrent .search-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 16px;
}

.body-carrent .search-container form {
    display: flex;
    flex-wrap: wrap; /* ให้สามารถขึ้นบรรทัดใหม่ได้ */
    align-items: center; /* ให้องค์ประกอบในฟอร์มอยู่ในแนวกลางตามแนวตั้ง */
    justify-content: space-between; /* จัดระยะห่างระหว่างปุ่มและช่องใส่วันที่ */
}

.body-carrent .search-container input,
.body-carrent .search-container button,
.body-carrent .search-container a {
    margin-left: 20px;
}
.body-carrent .search-container .btn-s {
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
.table-view-carrent table {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}
.carrent-popup {
    display: none;
    position: fixed;
    align-items: center;
    background-color: #ffffff;
    padding: 3rem;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center; /* จัดข้อความตรงกลาง */
    width: 40%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    left: 30%;
    top: 30%;
    z-index: 99999;
}
.carrent-popup .box {
    align-items: center;
    margin-bottom: 1rem; /* ระยะห่างของกล่องข้อความ */
}
.carrent-popup .box label {
    margin-right: 1rem; /* ระยะห่างของข้อความกับกล่องข้อความ */
}
.carrent-popup .box input[type="text"] {
    padding: 0.5rem; /* การเพิ่ม padding สำหรับ input */
    border: 1px solid #ccc; /* เส้นขอบ input */
    border-radius: 5px; /* การกำหนดขอบโค้ง */
    margin-top: 2px;
}
.carrent-popup .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    background-color: #ffffff;
    border: #ffffff solid;
}
.carrent-popup .search-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.carrent-popup .search {
    background-color: #ffffff;
    border: 1px solid rgb(44, 44, 255);
    width: 80px;
    color: rgb(44, 44, 255);
    border-radius: 10px;
    margin: 15px;
}
.carrent-popup .search:hover {
    background-color: rgb(44, 44, 255);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
}
.Adddetail {
    display: block;
    position: fixed;
    align-items: center;
    background-color: #ffffff;
    padding: 3rem;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center; /* จัดข้อความตรงกลาง */
    width: 40%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
    left: 30%;
    top: 10%;
    z-index: 99999;
}
.Adddetail .carrent-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.Adddetail .box {
    align-items: center;
    margin-bottom: 1rem; /* ระยะห่างของกล่องข้อความ */
}
.Adddetail .box label {
    margin-right: 1rem; /* ระยะห่างของข้อความกับกล่องข้อความ */
}
.Adddetail .box input[type="text"] {
    padding: 0.5rem; /* การเพิ่ม padding สำหรับ input */
    border: 1px solid #ccc; /* เส้นขอบ input */
    border-radius: 5px; /* การกำหนดขอบโค้ง */
    margin-top: 2px;
}
.check {
    display: none;
    position: fixed;
    align-items: center;
    background-color: #ffffff;
    padding: 3rem;
    justify-content: start;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center; /* จัดข้อความตรงกลาง */
    width: 40%;
    max-height: 80%;
    left: 30%;
    top: 20%;
    z-index: 99999;
}
.check .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    background-color: #ffffff;
    border: #ffffff solid;
}
.check .check-title {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
.check .ondate, .oncar{
    background-color: #ffffff;
    width: 120px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
}
.check .ondate:hover {
    background-color: rgb(146, 146, 255);
    border-color: rgb(146, 146, 255);
    color: #ffffff;
    transition: background-color 0.3s ease;
}
.check .oncar:hover {
    background-color: rgb(150, 253, 147);
    border-color: rgb(150, 253, 147);
    color: #000000;
    transition: background-color 0.3s ease;
}