/* packet_manage.css */

body {
    font-family: 'Prompt', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.top-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.top-button .manage-package {
    font-size: 30px;
    font-weight: bold;
}

.container {
    margin-top: 50px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group .btn {
    flex: 1;
    margin-right: 5px;
}

.package-container {
    display: none;
    position: fixed;
    align-items: center;
    background-color: #ffffff;
    padding: 3rem;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 40%;
    max-height: 80%;
    overflow-y: auto;
    top: 10%;
    left: 30%;
    z-index: 99999;
}

.title-package {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.package-body .box {
    margin-bottom: 1rem;
}

.package-body .box label {
    margin-right: 1rem;
}

.package-body .box input[type="text"],
.package-body .box input[type="file"],
.package-body .box textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2px;
}

.package-body .image-preview {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box-btn .btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.box-btn .btn-success {
    background-color: #28a745;
    border: none;
    transition: background-color 0.3s ease;
}

.box-btn .btn-success:hover {
    background-color: #218838;
}

.box-btn .btn-danger {
    background-color: #dc3545;
    border: none;
    transition: background-color 0.3s ease;
}

.box-btn .btn-danger:hover {
    background-color: #c82333;
}

#file-input-label {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#file-input-label:hover {
    background-color: #0056b3;
}
