.head-body {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.head-body .button {
    border: 0px solid black;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 20px;
    padding: 3px;
    border-color: #e4ff1b;
    background-color: #fff41b;
    text-decoration: none; /* ลบเส้นใต้ลิงก์ */
    color: rgb(8, 8, 8);
}
.head-body .button:hover {
    border-color:#f5ffa9;
    background-color: #fff986;
}
.head-show-car-detail {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 80px;
}
.head-show-car-detail .title-show-car-detail {
    font-size: 30px;
    padding: 30px;
    background-color: rgb(137, 255, 204);
    width: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.3);
}
.body-container {
    display: flex;
    flex-direction: row;
    border: 0px solid rgb(21, 15, 15);
    box-shadow: 0px 0px 3px rgba(48, 136, 235, 0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto; /* ปรับให้คอนเทนเนอร์อยู่ตรงกลางแนวนอน */
    margin-top: 2%; /* ปรับให้คอนเทนเนอร์อยู่ตรงกลางแนวตั้ง */
    border-radius: 10px;
    width: 80%; /* ตั้งค่าความกว้างตามที่ต้องการ */
    max-width: 1200px; /* กำหนดความกว้างสูงสุด */
    padding: 20px;
}
.image-container {
    padding: 20px;
}
.body-container .image-container img {
    width: 500px;
    border-radius: 10px;
}
.detail-info {
    padding: 5%;
    border: 2px solid rgb(44, 104, 245);
    margin-top: 0%;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
}
.info {
    margin: 5%;
}

.info .car_name, .car_band, .car_price {
    font-size: 22px;
    
}
.car-rent{
    border: 0px solid black;
    display: flex;
    padding: 20px;
    justify-content: center;
    
}
.car-rent .button{
    border: 0px solid black;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 25px;
    padding: 3px;
    border-color: #9be9f8;
    background-color: #acdcfb;
    text-decoration: none; /* ลบเส้นใต้ลิงก์ */
    color: rgb(8, 8, 8);
}
.car-rent .button:hover{
    border-color: #9be9f8;
    background-color: #64c1ff;
}
.car-img-more{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 80px;   
}
.title-car-more{
    font-size: 30px;
    padding: 30px;
    background-color: rgb(137, 255, 204);
    width: 500px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.3);
}